# Don't use quotes( " and ' )

API_ID=24436383
API_HASH=5c035e9e7162aeb19b1cd1c329aa0825
SESSION=1BVtsOH0BuwsGGpLj0ceQpFNPTfXvyhe2BPOWxXN2a1EIoXaBuCf4ZILXM93rWxP8htUYUsPM-MIO_aPbq4pxga777gSMwcq75KnKDS1l836rL83zoZuuFqpfkkP-1kqcV35dEprkg6kLVehCMYfuMbRr36oR4mMUOSutvyDdRTAmg-6sNJwdSv3_hEey2s-Q7wimrJaGQRvqI9wgvJmA-JPp48SodVSYqB9C5jG5Ar10LYrl3AJR17G8kY4Ljx_5caopPYWQ-OZ0ezg623ptrAXK9oeqlUPZLqZUhKI4fd1bsdbsTjAayXRJlXpfxkohWUo6tSutut2n5nRnldNy25OALweURK0=
REDIS_URI=redis-13229.c251.east-us-mz.azure.cloud.redislabs.com:13229
REDIS_PASSWORD=LPBl9rz9gQp619b2mdjPQbGtvnyzA4D4

# [OPTIONAL]

LOG_CHANNEL=-1001581057505
BOT_TOKEN=5465440183:AAH0UrWsRo0v3LaPEksojq4XJ1LE1KLQfgg
